
#urxvt будет искать скрипты сначала в этой директории, потом в /usr/lib/urxvt/perl
urxvt.perl-lib: /home/artyom/dotfiles/urxvt_perl
urxvt.perl-ext-common: default,clipboard,matcher,searchable-scrollback


 ! General
 !urxvt*termName:  rxvt-256color
 urxvt*loginShell:         true
 urxvt*scrollBar:         false
 urxvt*secondaryScroll:    true
 urxvt*saveLines:         65535
 urxvt*cursorBlink:       false
 urxvt*urgentOnBell:       true
 !urxvt*override-redirect:false
 !urxvt*borderLess:       false
 !urxvt*internalBorder:       0
 !urxvt*externalBorder:       0
 
 ! Extensions

 urxvt*urlLauncher:     /usr/bin/google-chrome
 urxvt*matcher.button:  1
 !  - catch ugly URLs
 urxvt.cutchars:        `()'*<>[]{|}"
 
 ! Appearance
 !  - use a bitmap font
 urxvt.font: xft:DejaVu Sans Mono:pixelsize=14
 
 

 ! Mashup colors
*foreground:        #B2A191
*background:        #171717
*borderColor:       #171717
*cursorColor:       #C7A551
!black
*color0:            #202020
*color8:            #404040
!red
*color1:            #BF3F34
*color9:            #FF6C5F
!green
*color2:            #707D22
*color10:           #B8CA4B
!yellow
*color3:            #BF7A29
*color11:           #C7A551
!blue
*color4:            #627A92
*color12:           #95B9DE
!magenta
*color5:            #75507B
*color13:           #AD7FA8
!cyan
*color6:            #757978
*color14:           #9FA590
!white
*color7:            #B2A191
*color15:           #E8D0C3